<!DOCTYPE html>

<html>

    <head>
        <title>Bubble Pop!</title>

        <!--<script type="text/javascript" src="../Scripts/libs/three.js"></script>
        <script type="text/javascript" src="../Scripts/libs/stats.js"></script>
        <script type="text/javascript" src="../Scripts/libs/dat.gui.js"></script>
        <script type="text/javascript" src="../Scripts/bubble.js"></script>
        <script type="text/javascript" src="../Scripts/libs/Projector.js"></script>-->
        <script src="https://fb.me/react-0.13.3.min.js"></script>


        <script type="text/javascript" src="./app.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>


    <body>
    

        <!-- Div which will hold the Output -->
        <div id="WebGL-output"></div>

            <div id="bannerbar" class="bannerbar">
            <div id="score" class="flex-item">Score: 0</div>
            <div id="reactScore" class="flex-item">ReactScore: 0</div>
        <button href onclick="undo()" id="undobutton" class=".flex-button">Undo</button>
    </div>
    </body>
</html>